//h1
//  color: #942f68
//
//div
//    width: 400px
//
//    height: 400px
//    background-color: #999999
//    p
//        color: aqua
@import "normalize.css"
@import "reset.css"
$color-blue: #5290EA
$color-orange: #F28B64
$color-grey: #cbcbcb

*
    box-sizing: border-box

.container
    max-width: 1140px
    margin: 0 auto

.main-section
    height: 800px
    background-color: #F0F0F0
    padding-top: 16px
    padding-right: 169px
    padding-left: 173px

    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        height: 69px
        align-items: center
    &__content-container
        display: flex
        flex-direction: row
        position: relative

.nav-menu
    &__list
        display: flex
        flex-direction: row

    &__list-item
        margin-right: 64px
        font-size: 18px

        &:last-child
            margin-right: 0

.left-wrapper
    position: relative  //что б rectangle-blue позиционировал в родительском элементе

    img
        position: relative //что б работал z необходимо добавить position
        z-index: 5       //что б работал z необходимо добавить position

    &__rectangle-blue
        position: absolute //вырываеи из контекста, необходимо position: relative задать в родителе
        top: 150px
        left: -50px
        transform: rotate(-64deg) //крутит элементы
        height: 220px
        width: 565.95px
        background: $color-blue
        border-radius: 100px
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
        z-index: 2

    &__rectangle-orange
        position: absolute
        top: 160px
        left: -30px
        transform: rotate(-50.81deg)
        height: 220px
        width: 618.43px
        background: $color-orange
        border-radius: 100px
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
        z-index: 3

    &__rectangle-grey
        position: absolute
        top: 190px
        left: 10px
        transform: rotate(-36.15deg)
        height: 220px
        width: 608.97px
        background: $color-grey
        border-radius: 100px
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
        z-index: 1

.icons
    //display: flex
    //flex-direction: row
    display: inline-flex //ТО же самое что  выше

    &__item
        display: flex
        justify-content: center // иконки вкруги
        align-items: center     // =/=
        height: 40px
        width: 40px
        border: 1px solid $color-blue
        border-radius: 100px
        margin-right: 17px
        &:last-child
            margin-right: 0

        i
            font-size: 21px //иконки:: т.к иконки не совсем иконки, а шрифт
.title
    font-size: 72px
    padding-left: 0
    position: relative
    &__hr
        width: 65px
        position: absolute
        margin: 0
        border: none
        border-top: 3px solid black


.right-wrapper
    width: 372px
    position: absolute
    top: 150px
    left: 692px
    &__title
        margin-bottom: 5px
    &__icons-box
        margin-bottom: 1px
        padding-left: 10px
    &__text
        font-size: 16px
        margin-bottom: 20px

.buttons
    display: inline-flex
    &__main-btn
        margin-right: 32px
        width: 200px
        height: 60px
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        border-radius: 100px
        background-color: $color-orange
        border: 0
        font-size: 18px
        color: white

    &__icon-btn
        display: inline-flex
        align-items: center
        img
            margin-right: 12px
        p
            font-size: 16px

