@charset "UTF-8";
@import url(normalize.css);
@import url(reset.css);
@font-face {
  font-family: MontserraT;
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MontserraT;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}

/* line 31, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
html {
  font-family: "MontserraT";
  font-weight: normal;
}

/* line 36, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 39, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 43, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section {
  position: relative;
  min-height: 800px;
  background-color: #F0F0F0;
  padding-top: 16px;
  padding-right: 169px;
  padding-left: 173px;
  overflow: hidden;
}

/* line 54, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}

/* line 61, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section__content-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* line 66, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section__first-elipse {
  position: absolute;
  top: -40px;
  right: -50px;
}

/* line 71, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

/* line 77, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
}

/* line 81, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}

/* line 85, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list-item:last-child {
  margin-right: 0;
}

/* line 88, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper {
  position: relative;
}

/* line 92, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper img {
  position: relative;
  z-index: 5;
}

/* line 98, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 150px;
  left: -50px;
  transform: rotate(-64deg);
  height: 220px;
  width: 565.95px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

/* line 112, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-orange {
  position: absolute;
  top: 160px;
  left: -30px;
  transform: rotate(-50.81deg);
  height: 220px;
  width: 618.43px;
  background: #F28B64;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

/* line 124, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-grey {
  position: absolute;
  top: 190px;
  left: 10px;
  transform: rotate(-36.15deg);
  height: 220px;
  width: 608.97px;
  background: #cbcbcb;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* line 136, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons {
  display: inline-flex;
}

/* line 142, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  margin-right: 17px;
}

/* line 154, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons__item:last-child {
  margin-right: 0;
}

/* line 157, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons__item i {
  font-size: 21px;
}

/* line 160, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.title {
  font-size: 72px;
  padding-left: 0;
  position: relative;
  z-index: 1;
  font-weight: bold;
}

/* line 168, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.title__hr {
  width: 65px;
  position: absolute;
  margin: 5px 0 0 0;
  border: none;
  border-top: 3px solid black;
}

/* line 176, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper {
  width: 390px;
  position: absolute;
  top: 150px;
  left: 692px;
}

/* line 182, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__title {
  margin-bottom: 25px;
}

/* line 185, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}

/* line 189, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 193, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons {
  display: inline-flex;
}

/* line 196, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  background-color: #F28B64;
  border: 0;
  font-size: 18px;
  color: white;
}

/* line 207, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn {
  display: inline-flex;
  align-items: center;
}

/* line 211, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn img {
  margin-right: 12px;
}

/* line 214, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn p {
  font-size: 16px;
}

/* line 217, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.elipse {
  display: inline-flex;
  width: 194px;
  height: 194px;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  background-transform: rotate(45deg);
}

/* line 226, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.elipse_dig {
  width: 282px;
  height: 282px;
  border-radius: 100%;
}

/* line 235, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.elipse__subtract {
  width: 129.33px;
  height: 129.33px;
  background: white;
  border-radius: 100%;
  position: relative;
  z-index: 0;
}

/* line 243, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.elipse__subtract_big {
  width: 188px;
  height: 188px;
  border-radius: 100%;
  background: #F0F0F0;
  transform: rotate(45deg);
}

/* line 250, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section {
  min-height: 700px;
  position: relative;
}

/* line 254, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section__container {
  padding-top: 32px;
}

/* line 257, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section__title {
  margin-bottom: 40px;
}

/* line 260, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section__card-box {
  margin-bottom: 25px;
  display: inline-flex;
}

/* line 265, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section__icon-box {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

/* line 270, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section__first-elipse {
  position: absolute;
  top: -490px;
  right: -90px;
  z-index: -1;
}

/* line 277, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.second-section__second-elipse {
  position: absolute;
  top: -125px;
  left: -80px;
  z-index: -1;
}

/* line 287, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.card-item {
  width: 360px;
  height: 360px;
  background-color: #E2E2E2;
  border-radius: 5%;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* line 298, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.card-item:last-child {
  margin-right: 0;
}

/* line 301, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.card-item__img {
  height: 335px;
}

/* line 304, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.card-item__text {
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 144px;
  right: -45px;
  font-weight: bold;
}

/* line 314, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.card-item_orange {
  background-color: #F28B64;
}

/* line 317, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.card-item_blue {
  background-color: #5290EA;
}

/* line 321, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons-item {
  display: inline-flex;
  align-items: center;
}

/* line 327, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}

/* line 332, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons-item__text {
  font-size: 18px;
}

/* line 335, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons-item__text span {
  font-size: 48px;
  font-weight: bold;
}

/* line 339, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section {
  min-height: 640px;
  margin: 0 auto;
  background-color: #F0F0F0;
  position: relative;
  overflow: hidden;
}

/* line 346, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 167px;
  align-items: center;
  padding-top: 46px;
  position: relative;
}

/* line 358, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__right-wrapper {
  max-width: 480px;
}

/* line 361, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__right-title {
  margin-bottom: 46px;
}

/* line 365, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__text {
  font-size: 18px;
  margin-bottom: 30px;
}

/* line 370, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__img-subtract {
  position: absolute;
  top: 155px;
  left: 10px;
}

/* line 375, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__img-subtract-2 {
  position: absolute;
  top: 100px;
  left: 90px;
  z-index: 1;
}

/* line 381, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.third-section__second-elipse {
  position: absolute;
  top: -120px;
  right: -120px;
}

/* line 388, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 39px;
  min-height: 190px;
}

/* line 397, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.footer__left {
  min-height: 200px;
  position: relative;
}

/* line 402, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.footer__img {
  position: absolute;
  left: -180px;
  bottom: 0;
}

/* line 408, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.footer__right-title {
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */