@charset "UTF-8";
@import url(normalize.css);
@import url(reset.css);
/* line 17, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 20, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 24, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section {
  height: 800px;
  background-color: #F0F0F0;
  padding-top: 16px;
  padding-right: 169px;
  padding-left: 173px;
}

/* line 31, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}

/* line 37, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.main-section__content-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* line 43, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
}

/* line 47, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}

/* line 51, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list-item:last-child {
  margin-right: 0;
}

/* line 54, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper {
  position: relative;
}

/* line 57, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper img {
  position: relative;
  z-index: 5;
}

/* line 61, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 150px;
  left: -50px;
  transform: rotate(-64deg);
  height: 220px;
  width: 565.95px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

/* line 73, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-orange {
  position: absolute;
  top: 160px;
  left: -30px;
  transform: rotate(-50.81deg);
  height: 220px;
  width: 618.43px;
  background: #F28B64;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

/* line 85, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-grey {
  position: absolute;
  top: 190px;
  left: 10px;
  transform: rotate(-36.15deg);
  height: 220px;
  width: 608.97px;
  background: #cbcbcb;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* line 97, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons {
  display: inline-flex;
}

/* line 102, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  margin-right: 17px;
}

/* line 111, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons__item:last-child {
  margin-right: 0;
}

/* line 114, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.icons__item i {
  font-size: 21px;
}

/* line 116, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.title {
  font-size: 72px;
  padding-left: 0;
  position: relative;
}

/* line 120, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.title__hr {
  width: 65px;
  position: absolute;
  margin: 0;
  border: none;
  border-top: 3px solid black;
}

/* line 128, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  left: 692px;
}

/* line 133, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__title {
  margin-bottom: 5px;
}

/* line 135, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}

/* line 138, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 142, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons {
  display: inline-flex;
}

/* line 144, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  background-color: #F28B64;
  border: 0;
  font-size: 18px;
  color: white;
}

/* line 155, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn {
  display: inline-flex;
  align-items: center;
}

/* line 158, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn img {
  margin-right: 12px;
}

/* line 160, ../../HML-фокин/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn p {
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */