@import url(normalize.css);
@import url(reset.css);
/* line 17, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 20, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* line 24, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.main-section {
  position: relative;
  min-height: 800px;
  background-color: #F0F0F0;
  padding-top: 16px;
  padding-right: 169px;
  padding-left: 173px;
  overflow: hidden;
}

/* line 35, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.main-section__nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 69px;
  align-items: center;
}

/* line 42, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.main-section__content-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* line 47, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.main-section__first-elipse {
  position: absolute;
  top: -40px;
  right: -50px;
}

/* line 52, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.main-section__second-elipse {
  position: absolute;
  right: -120px;
  top: 650px;
}

/* line 58, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
}

/* line 62, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list-item {
  margin-right: 64px;
  font-size: 18px;
}

/* line 66, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.nav-menu__list-item:last-child {
  margin-right: 0;
}

/* line 69, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.left-wrapper {
  position: relative;
}

/* line 73, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.left-wrapper img {
  position: relative;
  z-index: 5;
}

/* line 79, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-blue {
  position: absolute;
  top: 150px;
  left: -50px;
  transform: rotate(-64deg);
  height: 220px;
  width: 565.95px;
  background: #5290EA;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

/* line 93, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-orange {
  position: absolute;
  top: 160px;
  left: -30px;
  transform: rotate(-50.81deg);
  height: 220px;
  width: 618.43px;
  background: #F28B64;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

/* line 105, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.left-wrapper__rectangle-grey {
  position: absolute;
  top: 190px;
  left: 10px;
  transform: rotate(-36.15deg);
  height: 220px;
  width: 608.97px;
  background: #cbcbcb;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* line 117, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons {
  display: inline-flex;
}

/* line 123, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border: 1px solid #5290EA;
  border-radius: 100px;
  margin-right: 17px;
}

/* line 135, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons__item:last-child {
  margin-right: 0;
}

/* line 138, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons__item i {
  font-size: 21px;
}

/* line 141, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.title {
  font-size: 72px;
  padding-left: 0;
  position: relative;
  z-index: 1;
}

/* line 148, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.title__hr {
  width: 65px;
  position: absolute;
  margin: 5px 0 0 0;
  border: none;
  border-top: 3px solid black;
}

/* line 156, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.right-wrapper {
  width: 372px;
  position: absolute;
  top: 150px;
  left: 692px;
}

/* line 162, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__title {
  margin-bottom: 25px;
}

/* line 165, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__icons-box {
  margin-bottom: 1px;
  padding-left: 10px;
}

/* line 169, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.right-wrapper__text {
  font-size: 16px;
  margin-bottom: 20px;
}

/* line 173, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.buttons {
  display: inline-flex;
}

/* line 176, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.buttons__main-btn {
  margin-right: 32px;
  width: 200px;
  height: 60px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px;
  background-color: #F28B64;
  border: 0;
  font-size: 18px;
  color: white;
}

/* line 187, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn {
  display: inline-flex;
  align-items: center;
}

/* line 191, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn img {
  margin-right: 12px;
}

/* line 194, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.buttons__icon-btn p {
  font-size: 16px;
}

/* line 197, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.elipse {
  display: inline-flex;
  width: 194px;
  height: 194px;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
  background-transform: rotate(45deg);
}

/* line 206, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.elipse_dig {
  width: 282px;
  height: 282px;
  border-radius: 100%;
}

/* line 215, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.elipse__subtract {
  width: 129.33px;
  height: 129.33px;
  background: white;
  border-radius: 100%;
  position: relative;
  z-index: 0;
}

/* line 223, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.elipse__subtract_big {
  width: 188px;
  height: 188px;
  border-radius: 100%;
  background: #F0F0F0;
  transform: rotate(45deg);
}

/* line 230, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section {
  min-height: 700px;
  position: relative;
}

/* line 233, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section__container {
  padding-top: 32px;
}

/* line 236, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section__title {
  margin-bottom: 40px;
}

/* line 239, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section__card-box {
  margin-bottom: 25px;
  display: inline-flex;
}

/* line 244, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section__icon-box {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

/* line 249, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section__first-elipse {
  position: absolute;
  top: -490px;
  right: -90px;
  z-index: -1;
}

/* line 257, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.second-section__second-elipse {
  position: absolute;
  top: -125px;
  left: -80px;
  z-index: -1;
}

/* line 267, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.card-item {
  width: 360px;
  height: 360px;
  background-color: #E2E2E2;
  border-radius: 5%;
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-right: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* line 278, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.card-item:last-child {
  margin-right: 0;
}

/* line 281, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.card-item__img {
  height: 335px;
}

/* line 284, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.card-item__text {
  width: 280px;
  font-size: 36px;
  text-align: center;
  transform: rotate(90deg);
  position: absolute;
  top: 144px;
  right: -45px;
}

/* line 293, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.card-item_orange {
  background-color: #F28B64;
}

/* line 296, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.card-item_blue {
  background-color: #5290EA;
}

/* line 301, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons-item {
  display: inline-flex;
  align-items: center;
}

/* line 307, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons-item__img {
  margin-right: 20px;
  width: 80px;
}

/* line 312, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons-item__text {
  font-size: 18px;
}

/* line 314, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.icons-item__text span {
  font-size: 48px;
}

/* line 317, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section {
  min-height: 640px;
  margin: 0 auto;
  background-color: #F0F0F0;
  position: relative;
  overflow: hidden;
}

/* line 324, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 167px;
  align-items: center;
  padding-top: 46px;
  position: relative;
}

/* line 336, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__right-wrapper {
  max-width: 480px;
}

/* line 339, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__right-title {
  margin-bottom: 46px;
}

/* line 342, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__text {
  font-size: 18px;
  margin-bottom: 30px;
}

/* line 345, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__img-subtract {
  position: absolute;
  top: 155px;
  left: 10px;
}

/* line 349, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__img-subtract-2 {
  position: absolute;
  top: 100px;
  left: 90px;
  z-index: 1;
}

/* line 355, ../../HTML_stepik/html_lessons/project_two/src/sass/style.sass */
.third-section__second-elipse {
  position: absolute;
  top: -120px;
  right: -120px;
}

/*# sourceMappingURL=style.css.map */